[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.7"
flake8 = "*"

[packages]
aiohttp = "*"
aiopg = "*"
alembic = "*"
aiodns = "*"
aiohttp_session = "*"
aioredis = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
uvloop = "*"
gunicorn = "*"
cerberus = "*"
redlock = "*"
pytest-aiohttp = "*"
aiologger = "*"
requests = "*"